<a href="https://colab.research.google.com/github/Parth-G27/R-programs/blob/main/program_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
num_stud <- 5
num_sub <- 5

student_names <- c("Vaibhav","Utpal","Shankar","jatin","Dharam")

marks <- matrix(c(
    22,34,54,65,54,
    88,78,66,79,80,
    56,65,45,68,98,
    59,89,75,74,98,
    46,54,43,39,39
),nrow = num_stud, byrow = TRUE

)

In [10]:
stud_records <- list()

for(i in 1:num_stud){
    total_marks = sum(marks[i,])
    avg_marks = total_marks/5
    grade_got <- ifelse(avg_marks>=90,"A",
                    ifelse(avg_marks>=80,"B",
                           ifelse(avg_marks>=70,"C",
                                  ifelse(avg_marks>=60,"D",
                                         ifelse(avg_marks>=50,"E",
                                                ifelse(avg_marks>=40,"F","X"))))))

    stud_record <- list(name = student_names[i],total = total_marks,grade=grade_got,avg=avg_marks)
    stud_records <- append(stud_records,list(stud_record))
}

In [11]:
for(record in stud_records){
  cat(record$name,"\t")
  cat(record$total,"\t")
  cat(record$grade,"\t")
  cat(record$avg,"\n")
Pgi
}

Vaibhav 	229 	F 	45.8
Utpal 	391 	C 	78.2
Shankar 	332 	D 	66.4
jatin 	395 	C 	79
Dharam 	221 	F 	44.2