<a href="https://colab.research.google.com/github/Parth-G27/R-programs/blob/main/program_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
library(dplyr)
df <- data.frame(
EMPID= c(101,102,103,104,105),
Name=c("John","peter","bob","Linda","Elizabeth"),
Age=c(25,30,35,40,45),
Salary=c(50000,60000,45000,70000,55000),
Department=c("HR","IT","Finance","Production","QualityControl"))

filtered_data <- filter(df,Age>25)

selected_columns <- select(df, EMPID, Name, Salary)

mutated_data <-mutate(df,Salary_Adjusted=Salary*1.1)

grouped_data <- group_by(df,Department)

summarized_data <-summarize(grouped_data,
Avg_salary=mean(Salary),Max_Age=max(Age))

arranged_data <- arrange(df,Age,desc(Salary))

df2 <- data.frame(
EMPID =c(103,104,105),
Bonus=c(2000,3000,5000)
)

joined_data <- left_join(df,df2,by="EMPID")

print("Filtered Data:")
print(filtered_data)

print("Selected Columns:")
print(selected_columns)

print("Mutated Data:")
print(mutated_data)

print("Summarized Data:")
print(summarized_data)
print("Arranged Data:")
print(arranged_data)
print("Joined Data:")
print(joined_data)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

[1] "Filtered Data:"
  EMPID      Name Age Salary     Department
1   102     peter  30  60000             IT
2   103       bob  35  45000        Finance
3   104     Linda  40  70000     Production
4   105 Elizabeth  45  55000 QualityControl
[1] "Selected Columns:"
  EMPID      Name Salary
1   101      John  50000
2   102     peter  60000
3   103       bob  45000
4   104     Linda  70000
5   105 Elizabeth  55000
[1] "Mutated Data:"
  EMPID      Name Age Salary     Department Salary_Adjusted
1   101      John  25  50000             HR           55000
2   102     peter  30  60000             IT           66000
3   103       bob  35  45000        Finance           49500
4   104     Linda  40  70000     Production           77000
5   105 Elizabeth  45  55000 QualityControl           60500
[1] "Summarized Data:"
# A tibble: 5 × 3
  Department     Avg_salary Max_Age
  <chr>               <dbl>   <dbl>
1 Finance             45000      35
2 HR                  50000      25
3 IT                  60000      30
4 Production          70000      40
5 QualityControl      55000      45
[1] "Arranged Data:"
  EMPID      Name Age Salary     Department
1   101      John  25  50000             HR
2   102     peter  30  60000             IT
3   103       bob  35  45000        Finance
4   104     Linda  40  70000     Production
5   105 Elizabeth  45  55000 QualityControl
[1] "Joined Data:"
  EMPID      Name Age Salary     Department Bonus
1   101      John  25  50000             HR    NA
2   102     peter  30  60000             IT    NA
3   103       bob  35  45000        Finance  2000
4   104     Linda  40  70000     Production  3000
5   105 Elizabeth  45  55000 QualityControl  5000

In [4]:
print(df)

  EMPID      Name Age Salary     Department
1   101      John  25  50000             HR
2   102     peter  30  60000             IT
3   103       bob  35  45000        Finance
4   104     Linda  40  70000     Production
5   105 Elizabeth  45  55000 QualityControl