<a href="https://colab.research.google.com/github/Parth-G27/R-programs/blob/main/program_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# Load required libraries
install.packages("forecast")

library(forecast)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [20]:
# Create a data frame with Month and Sales columns
sales_data <- data.frame(
Month = seq(as.Date("2023-01-01"), as.Date("2023-06-01"), by
= "months"),
Sales = c(12000, 15000, 18000, 16000, 20000, 22000)
)
sales_data

  Month      Sales
1 2023-01-01 12000
2 2023-02-01 15000
3 2023-03-01 18000
4 2023-04-01 16000
5 2023-05-01 20000
6 2023-06-01 22000

In [21]:
# Convert to time series
sales_ts <- ts(sales_data$Sales, frequency = 12)
sales_ts

  Jan   Feb   Mar   Apr   May   Jun
1 12000 15000 18000 16000 20000 22000

In [22]:
# Fit ARIMA model
arima_model <- auto.arima(sales_ts)

In [23]:
# Forecast sales for next 3 months
forecast_result <- forecast(arima_model, h = 3)

In [24]:
# Display forecast results
print(forecast_result)

      Point Forecast    Lo 80    Hi 80    Lo 95    Hi 95
Jul 1          22000 18285.70 25714.30 16319.47 27680.53
Aug 1          22000 16747.19 27252.81 13966.52 30033.48
Sep 1          22000 15566.65 28433.35 12161.04 31838.96